

<nav class="index-navbar navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <i class="custom-color1 animo-icon fa-solid fa-calendar-days fa-5x"></i>

  <div class="animo-text">
    <a href="/" class ="no-decor" target="_self">
    <span class="navbar-text header-custom2">
      <div class="custom-color2">
        Animo STADVDB
      </div>
    </span>
    </a>
  </div>






</nav>
