
<!--Welcome Section-->
<section class="flex-column">


    <!--Call to Action Section-->
    <section class= "call-to-action-section ">

        <div class="call-to-action-div flex-column">
            <form action="/delete/{{username}}" method="POST">
                <input type="text">
                <button id="delete" name="delete" class="d-flex custom-button-1">Delete</button>

        
            </form>



        </div>

    </section>

</section>

