
<!--Welcome Section-->
<section class="flex-column">
    <section class= "main-welcome-section">
        <div class="welcome-container ">
            <div class="welcome-div">
            <span class="header-custom1">Hello To
                <span class="animolab-header">{{username}}
                <i class="fa-solid fa-computer "></i></i>
                </span>
            </span>
            </div>
        </div>
    </section>


    <!--Call to Action Section-->
    <section class= "call-to-action-section ">

        <div class="call-to-action-div flex-column">

                <a  href="read/{{username}}" target"_self">
                    <button class="d-flex custom-button-1"> Read</button>
                </a>
                <a  href="update/{{username}}" target"_self">
                    <button class="d-flex custom-button-1"> Update</button>
                </a>
                <a  href="delete/{{username}}" target"_self">
                    <button class="d-flex custom-button-1"> Delete</button>
                </a>


        

        </div>

    </section>

</section>

