
<!--Welcome Section-->
<section class= "main-welcome-section">
  <div class="welcome-container">
    <div class="welcome-div">
      <span class="header-custom1">Welcome To
        <span class="animolab-header">STADVDB MCO2
          <i class="fa-solid fa-computer "></i></i>
        </span>
      </span>
    </div>
  </div>
</section>


<!--Call to Action Section-->
<section class= "call-to-action-section">
  <div class="call-to-action-container">
    <div class="call-to-action-div">
      <div class="signup-icon">
        <i class="fa-solid fa-user fa-5x custom-color2"></i>
      </div>
      <div class="login-icon">
        <i class="fa-solid fa-right-to-bracket fa-5x custom-color2"></i>
      </div>
      <p class="custom-color2">
        Please Register a username<br>
        Click <a class="call-link no-decor custom-color3" href="/register">Register</a> for a new Account
        <br>
        Click <a class="call-link no-decor custom-color3" href="/login">Login</a> if you are already Registered
      </p>
    </div>
  </div>
</section>
