
<!--Welcome Section-->
<section class="flex-column">
<section class= "main-welcome-section">
  <div class="welcome-container ">
    <div class="welcome-div">
      <span class="header-custom1">Welcome To
        <span class="animolab-header">STADVDB MCO2 Steam Games
          <!-- <i class="fa-solid fa-computer "></i></i> -->
        </span>
      </span>
    </div>
  </div>
</section>


<!--Call to Action Section-->
<section class= "call-to-action-section ">
  <div class="call-to-action-container">
    <div class="call-to-action-div d-flex justify-content-center">

      <p class="custom-color2">
        <form class="flex-column" action="/" method="POST">

        Type a username<br>
        Click <a class="call-link no-decor custom-color3" href="/register">Register</a> for a new Account
        <br>
        <input name="username" class ="flex" type="text">
        <button class="flex custom-button-1">Register</button>

        </form>

       
      </p>
    </div>
  </div>
</section>

</section>

