
<!--Welcome Section-->
<section class="flex-column">


    <!--Call to Action Section-->
    <section class= "call-to-action-section ">

        <div class="call-to-action-div flex-column">
            <form action="/read/{{username}}" method="POST">
                <select id="input_field_read" name="input_field_read">
                    <option value="volvo">all</option>
  
                </select>
                <button id="read" name="read" class="d-flex custom-button-1">Read Again</button>

        
            </form>



        </div>

    </section>

</section>

