<section class="register-section">
  <div class="register-container">
    <div class="register-div">
      <h1 class="header-custom1">Register</h1>
      <form action="/register" method="POST" class="form-container">
        <div class="form-group">
          <label for="username" class="custom-color3">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-input"
            placeholder="Choose a username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password" class="custom-color3">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-input"
            placeholder="Choose a password"
            required
          />
        </div>
        <button type="submit" class="custom-btn custom-color3">Register</button>
      </form>
      <p class="custom-color2">
        Already have an account? 
        <a href="/login" class="custom-color3">Login here</a>.
      </p>
    </div>
  </div>
</section>
