<!-- selectNode.hbs -->
<form action="/selectNode" method="POST">
  <h3>Select a Node</h3>
  
  <input type="radio" id="node1" name="selectedNode" value="Node1">
  <label for="node1">Node 1</label><br>

  <input type="radio" id="node2" name="selectedNode" value="Node2">
  <label for="node2">Node 2</label><br>

  <input type="radio" id="node3" name="selectedNode" value="Node3">
  <label for="node3">Node 3</label><br>

  <button type="submit">Select Node</button>
</form>
