<div class="d-flex flex-row">
<!--Welcome Section-->
<section class="flex-column">


    <!--Call to Action Section-->
    <section class= "call-to-action-section ">

        <div class="call-to-action-div flex-column">
            <form action="/update/{{username}}" method="POST">
                <select id="input_field_update" name="input_field_update">
                <option value="volvo">lorem</option>
  
                </select>
                <div class="field-section">
                    <label for="appid">
                        App ID:
                    </label>
                    <label id="appid" name="appid">lorem ipsum</label>
                </div>

                <div class="field-section">
                    <label for="name">
                        Name
                    </label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="field-section">
                    <label for="date">
                        Release Date 
                    </label>
                    <input type="date" id="name" name="name" value="2018-07-22">
                </div>

                <div class="field-section">
                    <label for="price">
                        Price
                    </label>
                    <input type="text" name="price" id="id">
                </div>

                <div class="field-section">
                    <label for="developers">
                        Developers
                    </label>
                    <input type="text" name="developers" id="developers">
                </div>


                
                <button id="update" name="update" class="d-flex custom-button-1">Update</button>
                <button id="create" name="create" class="d-flex custom-button-1">Create</button>

        
            </form>



        </div>

    </section>

</section>

<div class="call-to-action-div flex-column">
    <section name="table-section">
        
    </section> 

</div>

</div>