
<!--Welcome Section-->
<section class="flex-column">


    <!--Call to Action Section-->
    <section class= "call-to-action-section ">

        <div class="call-to-action-div flex-column">
            <form action="/update/{{username}}" method="POST">
                <select id="input_field_update" name="input_field_update">
                <option value="volvo">lorem</option>
  
                </select>
                <button id="update" name="update" class="d-flex custom-button-1">Update</button>
                <button id="create" name="create" class="d-flex custom-button-1">Create</button>

        
            </form>



        </div>

    </section>

</section>

